[submodule "msgpack"]
	path = msgpack
	url = https://github.com/benjolitz/msgpack
[submodule "aerospike-common"]
	path = aerospike-common
	url = https://github.com/benjolitz/aerospike-common
[submodule "aerospike-mod-lua"]
	path = aerospike-mod-lua
	url = https://github.com/benjolitz/aerospike-mod-lua
